body {
    background-image: linear-gradient(180deg, rgba(247,247,247,1) 23.8%, rgba(252,221,221,1) 92%);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.results {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

.result {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}

.result img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px; 
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: lightcoral; 
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}
